@media only screen and (max-width: 500px) {
			nav#main ul {
				flex-direction: column;
			}



@media screen and (min-width: 699px) {
    nav ul {
      display: flex;
      flex-direction: column; 
      justify-content: flex-end;
    }
}